/* You can add global styles to this file, and also import other style files */

.panel-heading{
background-color:   blue;
}
body{
  border-style: inset;
  border-color: yellow;
}
img {
  border-radius: 8px;
  height: auto;
  width: 400px;
}
